@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,700;1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("./beach1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    font-family: 'Prompt', sans-serif;
    margin: 0;
}

#heading h1{
    color: aliceblue;
    font-weight: normal;
    font-size: 6rem;
    margin-top: -2rem;
}

h2{
    color: black;
    font-weight: normal;
    font-size: 4rem;
    margin-top: -4rem;
}

input[type="file"]{
    display: none;
}

input[type="number"]{
    initial-value: 0;
    display: flex;
    overflow: hidden;
    border: none;
    background: transparent;
    text-align: center;
    font-weight: bold;
    font-size: 7rem;
    line-height: 1;
    margin: 0 2rem;
    margin-top: -1.2rem;
    width: 150px;
}

label{
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.countdown-text {
    text-align: center;
}

.countdown-container span {
    font-size: 1.5rem;
}

.hello {
    position: relative;
    display: flex;
    justify-content: center;
}

.hello .countdown-heading1 {
    margin-bottom: 50px;
    font-size: 3.5rem;
}

.hello span {
    position: absolute;    
    left: 180px;
}

.countdown-heading2 span {
    margin-top: -10rem;
}

input::placeholder {
    color: rgba(103, 123, 139, 0.308);
}

#qr{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Hide arrows/spinners on Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input{
    color: grey;
} */